/* Select de Filtro */
.filter-select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: white;
  color: #555;
  outline: none;
  cursor: pointer;
}

/* Badge para cuando no hay patente */
.badge-inactivo {
  background-color: #fdebd0;
  color: #e67e22;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 0.75rem;
  font-weight: bold;
}
.search-input-group{
  display: flex;
  gap: 10px;
  align-items: center;
}
.search-input {
  /* width: 280px; */
  padding: 6px 8px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

