/* Select de Filtro */
.filter-select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: white;
  color: #555;
  outline: none;
  cursor: pointer;
}

/* Badge para cuando no hay patente */
.badge-inactivo {
  background-color: #fdebd0;
  color: #e67e22;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 0.75rem;
  font-weight: bold;
}

.search-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}