/* Reset total para evitar saltos visuales */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f9fa; /* Gris piedra muy claro */
  color: #212529;
  font-family: sans-serif;
}

.root-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}